flow.json
[
  {
    "id": "11d0fad9.5eca25",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "b699de3d.575da",
    "type": "inject",
    "z": "11d0fad9.5eca25",
    "name": "get starred repos home pages",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 160,
    "y": 40,
    "wires": [
      [
        "56d2714b.2ec67"
      ]
    ]
  },
  {
    "id": "56d2714b.2ec67",
    "type": "github-user",
    "z": "11d0fad9.5eca25",
    "github": "",
    "name": "user/NekR Stars",
    "action": "userstarred",
    "outputs": "1",
    "options": "",
    "optionsType": "json",
    "username": "NekR",
    "usernameType": "str",
    "orgname": "",
    "orgnameType": "str",
    "x": 160,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "bdb6009e.d072d",
    "type": "file in",
    "z": "11d0fad9.5eca25",
    "name": "get home-pages",
    "filename": "./rust/mystarred",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 360,
    "y": 140,
    "wires": [
      [
        "25ce3f4f.063c9"
      ]
    ]
  },
  {
    "id": "6aeb739e.2fbb7c",
    "type": "inject",
    "z": "11d0fad9.5eca25",
    "name": "get home pages from a file",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 470,
    "y": 100,
    "wires": [
      [
        "bdb6009e.d072d"
      ]
    ]
  },
  {
    "id": "ded2e890.b50558",
    "type": "inject",
    "z": "11d0fad9.5eca25",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 140,
    "y": 500,
    "wires": [
      [
        "82f8392c.d786a8"
      ]
    ]
  },
  {
    "id": "82f8392c.d786a8",
    "type": "exec",
    "z": "11d0fad9.5eca25",
    "command": "pwd",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "",
    "x": 270,
    "y": 500,
    "wires": [
      [
        "fcff7f60.b23"
      ],
      [],
      []
    ]
  },
  {
    "id": "25ce3f4f.063c9",
    "type": "json",
    "z": "11d0fad9.5eca25",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 550,
    "y": 140,
    "wires": [
      [
        "127432ec.5b858d"
      ]
    ]
  },
  {
    "id": "127432ec.5b858d",
    "type": "function",
    "z": "11d0fad9.5eca25",
    "name": "Get URL'S",
    "func": "const payload = msg.payload //.slice(0, 2)\n                   .map(val => ({\n                        method: 'GET',\n                        url: val,\n                    }));\n                    \nconst size = payload.length;\nflow.set('itemsCounter', size);\n\nnode.status({\n    text: `(${payload.length}) items` });\n\nreturn { payload };\n",
    "outputs": 1,
    "noerr": 0,
    "x": 570,
    "y": 180,
    "wires": [
      [
        "b231927b.5a85e"
      ]
    ]
  },
  {
    "id": "aaa85b26.154da8",
    "type": "http request",
    "z": "11d0fad9.5eca25",
    "name": "",
    "method": "use",
    "ret": "txt",
    "paytoqs": false,
    "url": "",
    "tls": "",
    "proxy": "",
    "authType": "",
    "x": 810,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "2e3f9694.ca231a",
    "type": "function",
    "z": "11d0fad9.5eca25",
    "name": "Check File",
    "func": "return parseInt(msg.payload, 10)\n    ? [{ payload: true }, null]\n    : [null, { payload: false }];\n",
    "outputs": 2,
    "noerr": 0,
    "x": 750,
    "y": 720,
    "wires": [
      [],
      [
        "7c343679.2c8f38",
        "a5095716.ee4db8"
      ]
    ]
  },
  {
    "id": "7c343679.2c8f38",
    "type": "exec",
    "z": "11d0fad9.5eca25",
    "command": "echo '[]' >> stars.old && echo '[]'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Create stars.old",
    "x": 920,
    "y": 760,
    "wires": [
      [
        "5271cdb2.891f24"
      ],
      [],
      []
    ]
  },
  {
    "id": "8e1263b8.a5c23",
    "type": "exec",
    "z": "11d0fad9.5eca25",
    "command": "[ -f stars.old ] && echo 1 || echo 0",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Check file stars.old exist",
    "x": 690,
    "y": 660,
    "wires": [
      [
        "cd0724c8.5fb388",
        "2e3f9694.ca231a"
      ],
      [],
      []
    ]
  },
  {
    "id": "fcff7f60.b23",
    "type": "debug",
    "z": "11d0fad9.5eca25",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 410,
    "y": 500,
    "wires": []
  },
  {
    "id": "3d017517.4fe5da",
    "type": "html",
    "z": "11d0fad9.5eca25",
    "name": "",
    "property": "payload",
    "outproperty": "payload",
    "tag": "article",
    "ret": "text",
    "as": "single",
    "x": 750,
    "y": 180,
    "wires": [
      [
        "745b97cf.f22b58"
      ]
    ]
  },
  {
    "id": "7827d858.e4a948",
    "type": "debug",
    "z": "11d0fad9.5eca25",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1070,
    "y": 20,
    "wires": []
  },
  {
    "id": "5271cdb2.891f24",
    "type": "debug",
    "z": "11d0fad9.5eca25",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1150,
    "y": 680,
    "wires": []
  },
  {
    "id": "a5095716.ee4db8",
    "type": "debug",
    "z": "11d0fad9.5eca25",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 930,
    "y": 700,
    "wires": []
  },
  {
    "id": "cd0724c8.5fb388",
    "type": "debug",
    "z": "11d0fad9.5eca25",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 910,
    "y": 600,
    "wires": []
  },
  {
    "id": "4e2d270e.a79ff8",
    "type": "file",
    "z": "11d0fad9.5eca25",
    "name": "Save Result",
    "filename": "",
    "appendNewline": true,
    "createDir": false,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 790,
    "y": 100,
    "wires": [
      [
        "57a435a8.54df1c"
      ]
    ]
  },
  {
    "id": "745b97cf.f22b58",
    "type": "function",
    "z": "11d0fad9.5eca25",
    "name": "Get URL'S",
    "func": "// const filename = `readme-pages-${Date.now()}`;\nconst filename = 'text.txt';\nconst payload = msg.payload+`\n\n==============================\n`;\n\nreturn {filename, payload};\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 790,
    "y": 140,
    "wires": [
      [
        "4e2d270e.a79ff8"
      ]
    ]
  },
  {
    "id": "f6ca2e94.608c6",
    "type": "http in",
    "z": "11d0fad9.5eca25",
    "name": "",
    "url": "/get-text",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 370,
    "y": 180,
    "wires": [
      [
        "bdb6009e.d072d"
      ]
    ]
  },
  {
    "id": "ccd3c252.84f23",
    "type": "http response",
    "z": "11d0fad9.5eca25",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 730,
    "y": 400,
    "wires": []
  },
  {
    "id": "e2f107e6.3b8378",
    "type": "template",
    "z": "11d0fad9.5eca25",
    "name": "Generate Links",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<!doctype html>\n<html class=\"no-js\" lang=\"\">\n<head>\n  <meta charset=\"utf-8\">\n  <title> Starred repos </title>\n  <meta name=\"description\" content=\"\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <meta name=\"theme-color\" content=\"#fafafa\">\n  <style>\n  a:visited {\n    color: darkred;\n  }\n  a {\n    color: antiquewhite;\n  }\n  </style>\n</head>\n\n<body style=\"background: black\">\n<!--[if IE]>\n<p class=\"browserupgrade\">You are using an <strong>outdated</strong> browser. Please <a href=\"https://browsehappy.com/\">upgrade\n  your browser</a> to improve your experience and security.</p>\n<![endif]-->\n<script src=\"https://code.jquery.com/jquery-3.3.1.min.js\"\n        integrity=\"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=\" crossorigin=\"anonymous\"></script>\n<ul>\n  {{#payload}}\n  <li>\n    {{.}}\n  </li>\n  {{/payload}}\n</ul>\n\n</body>\n</html>\n",
    "output": "str",
    "x": 680,
    "y": 440,
    "wires": [
      [
        "ccd3c252.84f23"
      ]
    ]
  },
  {
    "id": "57a435a8.54df1c",
    "type": "function",
    "z": "11d0fad9.5eca25",
    "name": "Get URL'S",
    "func": "let currSize = flow.get('itemsCounter');\nflow.set('itemsCounter', --currSize);\nconst size = currSize > 0\n\nnode.status({\n  fill:  size\n    ? 'red'\n    : 'green',\n  shape:'dot',\n  text: size\n    ? `items ${currSize}`\n    : 'done!',\n});\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 950,
    "y": 80,
    "wires": [
      [
        "7827d858.e4a948"
      ]
    ]
  },
  {
    "id": "6cb3e1b0.76ce6",
    "type": "github-myuser",
    "z": "11d0fad9.5eca25",
    "github": "",
    "name": "",
    "action": "gists",
    "outputs": "1",
    "options": "",
    "optionsType": "json",
    "username": "",
    "usernameType": "str",
    "orgname": "",
    "orgnameType": "str",
    "x": 530,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "f0b171e6.5b802",
    "type": "split",
    "z": "11d0fad9.5eca25",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": true,
    "addname": "",
    "x": 510,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "b231927b.5a85e",
    "type": "exec",
    "z": "11d0fad9.5eca25",
    "command": "",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "",
    "x": 590,
    "y": 220,
    "wires": [
      [
        "8e1a0087.0b489"
      ],
      [
        "8e1a0087.0b489"
      ],
      [
        "8e1a0087.0b489"
      ]
    ]
  },
  {
    "id": "8e1a0087.0b489",
    "type": "debug",
    "z": "11d0fad9.5eca25",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 690,
    "y": 300,
    "wires": []
  }
]